.container {
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #F7EDE8;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Montserrat Alternates, monospace;
    gap: 450px;
    flex-direction: row;
    align-items: center;
}

a {
    font-family: Montserrat Alternates, monospace;
    font-size: 16px;
    line-height: 160%;
    color: black;
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px; 
}

.logowlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

.AbtWOBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rightimg {
    position: absolute;
    right: -15px;
    width: 120px;
    height: 166.96px;
    top: 150px;
}

.leftimg {
    position: absolute;
    top: -40px;
    left: -160px;
    width: 629.57px;
    height: 592.01px;
}

.AboutPod {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.front {
    margin: 0 auto 50px;
    background-color: #F7EDE8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 600px;
}

button {
    font-family: Montserrat Alternates, monospace;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.25)
}


h1 {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 96px;
    letter-spacing: -4%;
    font-weight: 700;
    font-family: Montserrat Alternates, monospace;
}

.but1 {
    color:black;
    background-color: #F7EDE8;
    width: 188px;
    height: 41px;
}

.but2 {
    color: white;
    background-color: black;
    width: 136px;
    height: 41px;
}

.but3 {
    color:black;
    background-color: #F7EDE8;
    width: 218px;
    height: 62px;
    margin-right: 20px;
    margin-top: 20px;
}

.but4 {
    color: white;
    background-color: black;
    width: 160px;
    height: 62px;
    margin-bottom: 150px;
}

.about {
    color:black;
}

.pod {
    color: #CD4631;
}

.UsualText {
    font-weight: 500;
    font-size: 16px;
    height: 160%;
    letter-spacing: 0%;
    font-family: Montserrat Alternates, monospace;
    color: #4D4D4D;
    text-align: center;
}

.exactnumber {
    border-radius: 8px;
    border: 1.5px solid black;
    box-shadow: 6px 6px #CD4631;
    width: 373px;
    height: 235px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vihr {
    position: absolute;
    right: 1px;
    width: 140px;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.lettertext {
    font-size: 59.3px;
    font-weight: 700;
    letter-spacing: -2%;
    font-family: Montserrat Alternates, monospace;
    text-align: center;
    color: black;
}

.information {
    font-weight: 500;
    font-size: 16px;
    height: 160%;
    letter-spacing: 0%;
    font-family: Montserrat Alternates, monospace;
    color: #4D4D4D;
    text-align: center;
   
}

h3 {
    font-size: 36.65px;
    letter-spacing: -2%;
    font-family: Montserrat Alternates, monospace;
    color:black;
    font-weight: 700;
    text-align: center;
}

b {
    color: black;
}

.coloumntext {
    font-weight: 500;
    font-size: 16px;
    height: 160%;
    letter-spacing: 0%;
    font-family: Montserrat Alternates, monospace;
    color: #4D4D4D;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutandhistory {
    margin-top: 70px;
}

.sparkleabout {
    position: absolute;
    margin-top: -75px;
    left: 513px;
}

.coloumntext1 {
    width: 570px;
    height: 182px;
}

.founder {
    border-radius: 8px;
    width: 570px;
    border: 2px solid black;
    box-shadow: 10px 10px black;
    height: 520px;
    font-family: Montserrat Alternates, monospace;
    color: #4D4D4D;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
}

.foundergraytext {
    font-size: 14px;
    width: 259px;
    height: 66px;
}

.founderpic {
    border-radius: 8px;
    display: flex;
    margin-right: 10px;
}
.smilestar {
    display: flex;
    justify-content: right;
    border-radius: 8px;
}

.founders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.foahost {
    position: absolute;
    margin-top: -75px;
    right: 500px;
}

.foundertext {
    flex-direction: column;
    justify-content: left;
    display: flex; 
    width: 259px;
    height: 520px;
}

.icons {
    flex-direction: row;
    justify-content: right;
    display: flex; 
    gap: 15px;
}

.foundername {
    text-align: left;
}

.Sponsor {
    margin-top: 150px;
    width: auto;
    height: auto;
    background-color: #F7EDE8;
    height:700px;
}

.sponsorh2 {
    font-size: 59.3px;
    letter-spacing: -2%;
    font-family: Montserrat Alternates, monospace;
    color:black;
    font-weight: 700;
    text-align: center;
    padding-top: 125px;
}

.sponsorsparkle {
    position: absolute;
    margin-top: 80px;
    left: 510px;
}

.SponsorText {
    font-family: Montserrat Alternates, monospace;
    color: black;
    text-align: center;
    font-size: 22.65px;
}

.ExactSponsorText {
    font-family: Montserrat Alternates, monospace;
    color: black;
    text-align: center;
    font-size: 14px;
}

.ExactSponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1.61px solid black;
    background-color: white;
    width: 500px;
    height: 250px;
    
}

.Sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.Send {
    font-weight: 500;
    font-size: 22.65px;
    height: 160%;
    letter-spacing: 0%;
    font-family: Montserrat Alternates, monospace;
    color: #4D4D4D;
    text-align: center;
}

.getintouchvector {
    position: absolute;
    right: 500px;
}

.shiningstars {
    position: absolute;
    right: 150px;
    margin-top: -250px;
}

.vihr2 {
    position: absolute;
    left: 20px;
    margin-bottom: -475px;
}

.userblock {
    flex-direction: row;
    justify-content: center;
    display: flex; 
    gap: 15px;
    margin-top: 30px;
}

.userform {
    flex-direction: column;
    justify-content: center;
    display: flex; 
    margin-bottom: 100px;
}

.tsmv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:150px;
    margin-top: 50px;
}

.send-msg-btn {
    color: white;
    background-color: black;
    width: 193px;
    height: 62px;   
}

.FullName {
    flex-direction: column;
    justify-content: center;
    display: flex; 
}

.GetInTouch {
    flex-direction: column;
    justify-content: center;
    display: flex; 
    align-items: center;
    font-family: Montserrat Alternates, monospace;
    font-size: 14px;
}

input {
    border: 1.5px solid black;
    border-radius: 8px;
    width: 373px;
    height: 64px;
}

.Email {
    flex-direction: column;
    justify-content: center;
    display: flex; 
}

.Phone {
    flex-direction: column;
    justify-content: center;
    display: flex; 
}

.Subject {
    flex-direction: column;
    justify-content: center;
    display: flex; 
}

#inputmessage {
    border: 1.5px solid black;
    border-radius: 8px;
    width: 766px;
    height: 165px;
}



.viverra {
    width:176px;
    height:44px;
}